auth_enabled: false

server:
  http_listen_port: 3100

limits_config:
  retention_period: 24h # 하루
  reject_old_samples: true
  reject_old_samples_max_age: 24h

schema_config:
  configs:
    - from: 2025-01-01
      store: boltdb-shipper
      object_store: filesystem
      schema: v12
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
  filesystem:
    directory: /loki/chunks