auth_enabled: false

compactor:
  working_directory: /loki/compactor
  shared_store: filesystem

server:
  http_listen_port: 3100
  grpc_listen_port: 9095

ingester:
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
  chunk_idle_period: 1h
  chunk_retain_period: 30s
  max_transfer_retries: 0

limits_config:
  ingestion_rate_mb: 10000000
  ingestion_burst_size_mb: 20000000
  reject_old_samples: false
  # reject_old_samples_max_age: 168h
#   retention_period: 24h # 하루

schema_config:
  configs:
    - from: 2025-01-01
      store: boltdb-shipper
      object_store: filesystem
      schema: v12
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
    shared_store: filesystem
  filesystem:
    directory: /loki/chunks